<launch>
  <arg name="use_robot_name" default="tb3_manipulation"/>
  <arg name="marker_size" default="8.8" />
        
  <node name="laser_scan_filter_node" pkg="tb3_mobile_manipulation_tools" type="laser_scan_filter_node" respawn="false" output="screen">
    <!-- <param name="input_topic" value="/tb3_manipulation/scan"/> -->
    <!-- <param name="output_topic" value="/tb3_manipulation/filtered_scan"/> -->
    <param name="mean_k" value="4"/>
    <param name="std_dev_mul" value="2"/>
  </node>  
</launch>
